
  <h2 class="text-success text-center">
     {{this.formData.fName}}
  </h2>
  <div fxLayout="row" fxLayoutAlign="center">
  <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.name">
  <div fxLayout="row" fxLayoutAlign="center">
     <form [formGroup]='form' (submit)='onSubmit($event)' novalidate>
     <div fxLayout="column">
        <ng-container *ngFor='let field of formData.tabConfig[index].fields;' dynamicField [field]='field' [group]='form'>
        </ng-container>
     </div>
     </form>
  </div>
  </mat-tab>
  </mat-tab-group>
